* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sortTable {
    border-collapse: collapse;
    border: solid 2px black;
}
.sortTable td, .sortTable th {
    border: solid 2px black;
    padding: 5px 15px;
}